@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    @apply flex items-center justify-between
}

.flex-col-center {
    @apply flex flex-col items-center justify-between
}

html {
    max-width: 450px;
    margin: 0 auto;
}

main {
    height: 100vh;
}